@charset "UTF-8";
/** ログイン画面のCSS **/
.second-life {
height: 400px;
width: 500px;
position: absolute;
left: 50%;
top: 50%;
margin-top: -250px;
margin-left: -260px;
background-repeat: no-repeat;
text-align: center;
}



.input {
margin-top: 20px;
}

.big{
	font-size:20pt;
}
.button{
	font-size:20pt;
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 200px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border: 2px solid #27acd9;
	background: #27acd9;
	color: #fff;
	transition: 0.5s;
	padding: 10px 5px;
}

.button:hover{
	color: #27acd9;
	background: #fff;
}

/** ここまで **/

/** トップ画面(index.jsp)のCSS **/
.button-top{
	font-size:40pt;
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 300px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border: 2px solid #27acd9;
	background: #27acd9;
	color: #fff;
	transition: 0.5s;
	padding: 50px 25px;
}

/** ここまで**/

/** 管理者画面のCSS **/

.top-box{
	display: flex;
align-items: center;
justify-content: center;


}

.top-box-inner{
	 flex: 1;
  margin: 0;
}
.title{
	margin:0;
	font-size:2.5em;
	text-align: center;
	flex:1;
}


.logout-button{
	margin-left:  -200px;
	font-size:20pt;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 200px;
	padding: 1rem 4rem;
	font-weight: bold;
	border: 2px solid #27acd9;
	background: #27acd9;
	color: rgb(255, 0, 0);
	transition: 0.5s;
	padding: 5px 1px;
}
.logout-button:hover{
	color: #27acd9;
	background: #fff;
}


.flex-box{
   background-color: rgb(255, 255, 255);     /* 背景色指定 */
    padding:  100px;             /* 余白指定 */
    display: flex;              /* フレックスボックスにする */
    flex-wrap: wrap;            /* 折り返し指定 */
    
    	
}
.button-top:hover{
	color: #27acd9;
	background: #fff;
}

.button-admin{

	font-size:25pt;
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 300px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border: 2px solid #27acd9;
	background: #27acd9;
	color: #fff;
	transition: 0.5s;
	padding: 40px 35px;
}

.button-admin:hover{
	color: #27acd9;
	background: #fff;
}

/** ここまで **/

/* ここから下がハンバーガーメニューに関するCSS */
    
  /* チェックボックスを非表示にする */
  .drawer_hidden {
    display: none;
  }
  
  /* ハンバーガーアイコンの設置スペース */
  .drawer_open {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;/* 重なり順を一番上にする */
    cursor: pointer;
  }
  
  /* ハンバーガーメニューのアイコン */
  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
    content: '';
    display: block;
    height: 5px;
    width: 25px;
    border-radius: 5px;
    background: rgb(0, 0, 0);
    transition: 0.5s;
    position: absolute;
  }
  
  /* 三本線の一番上の棒の位置調整 */
  .drawer_open span:before {
    bottom: 8px;
  }
  
  /* 三本線の一番下の棒の位置調整 */
  .drawer_open span:after {
    top: 8px;
  }
  
  /* アイコンがクリックされたら真ん中の線を透明にする */
  #drawer_input:checked ~ .drawer_open span {
    background: rgba(255, 255, 255, 0);
  }
  
  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  #drawer_input:checked ~ .drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  
  #drawer_input:checked ~ .drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
  }
    
  /* メニューのデザイン*/
  .nav_content {
    width: 30%;
    height: 100%;
    position: fixed;
    top: 0%;
    right: -30%; /* メニューを画面の外に飛ばす */
    z-index: 99;
    background: rgb(192, 192, 192);
    transition: .5s;
    text-align: center;
    padding-top: 20px;
  }
  
  
  /* メニュー黒ポチを消す */
  .nav_list {
    list-style: none;
  }
  
  /* アイコンがクリックされたらメニューを表示 */
  #drawer_input:checked ~ .nav_content {
    right: 0;/* メニューを画面に入れる */
  }



